$bg-modal: rgba(41, 41, 41, 0.2);
$shadow-grey: 1px 3px 4px rgb(0 0 0 / 10%);
$shadow-btn: inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
$shadow-btn-hover: -1px -1px 5px 0px #fff,
    7px 7px 20px 0px #0003,
    4px 4px 5px 0px #0002;
$glow-grey: 0 0 34px white, 0 0 25px #9595f0, 0 0 5px #727589, 0 0 29px white;
$color-white: rgb(233,236,253);
$color-grey: rgb(181,191,244);
$color-pink: rgb(249,223,250);
$color-lilac: rgb(98, 109, 165);
$color-error: rgba(231, 13, 67, 0.959);
$font-family: 'Lato', sans-serif;