@import '../../assets/style/const.scss';

.cards-form {
  display: flex;
  flex-direction: column;
  gap:13px;
  padding: 10px;

  &__items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:5px;
  }

  &__label,
  &__input,
  &__label-file,
  &__input-file,
  &__select {
    font-size: 20px;
    color: $color-lilac;
    font-weight: 400;
  }
  
  &__input,
  &__select {
    border-radius: 5px;
    border: $color-grey 2px solid;
    &:focus {
      box-shadow: $glow-grey;
      outline:none;
    }
  }

  &__error-message {
    color: $color-error;
    font-size: 12px;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap:20px;  
  }

  &__message {
    color: $color-lilac;
  }
}
