@import '../../../assets/style/const.scss';

.header {
  height: 60px;
  box-shadow: $shadow-grey;
  display: flex;
  flex-direction: row;
  gap: 10px 20px;
  background-color: $color-pink;
  justify-content: center;
  align-items: center;
}

.button,
.link,
a.inactive {
  width: 130px;
  color: white;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: $font-family;
  font-weight: 700;
  background: $color-grey;
  transition: all 0.3s ease;
  position: relative;
  box-shadow: $shadow-btn;
  text-align: center;
  &:hover, &.active:hover {
    color: $color-grey;
    background: transparent;
    box-shadow:none;
  }
  &:before,
  &:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: $color-grey;
    box-shadow: $shadow-btn-hover;
    transition:400ms ease all;
  }
  &:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  &:hover:before,
  &:hover:after{
    width:100%;
    transition:800ms ease all;
  }
  &.active{
    background-color: $color-white;
    color: $color-grey;
  }
}
.button {
  height: 38px;
  border: transparent;
  cursor: pointer;
  &:hover {
    color: $color-lilac;
  }
  &:disabled {
    pointer-events: none;
    background-color: rgb(199, 199, 199);
  }
}