@import '../assets/style/const.scss';

.home {
  display: flex;
  flex-direction: column;
  gap:20px;
}

.search {
  display: flex;
  gap: 20px;
}

.pagination {
  margin: 20px auto;
  & .active a,
  & .active a:hover {
    background-color: $color-lilac;
    border-color: $color-lilac;
  }
}