@import '../assets/style/const.scss';
.Page404{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & h2 {
    font-size: clamp(5rem, 40vmin, 20rem);
    color: $color-grey;
    filter: blur(0.5vmin);
    margin: 0;

  }
}
