@import './assets/style/const.scss';

* {
  box-sizing: border-box;
}
a,
a:visited,
a:focus,
a:hover {
  text-decoration: none;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: $font-family;
  font-weight: 400;
  font-size: 16px;
  background-color: $color-white;
  color: $color-grey;
}

.main {
  flex: 1 1 auto;
  padding: 20px 0;
}

.container {
    max-width: 100%;
    padding: 20px;
    margin: 0 auto;
}

h2 {
  margin: 0;
  text-align: center;
}
